* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.google-button {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
}

.google-button:hover {
    background-color: #eee;
}

.google-button img {
    width: 30px;
}