@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

header {
    min-height: 200px;
}

main {
    margin: auto;
    padding: 100px;
    gap: 30px;
    width: 70%;
}

h1, p {
    color: #333333;
}

.note-title {
    font-size: 2rem;
}

.note-description {
    font-size: 1.2rem;
    color: #777;
}

.note-date {
    font-size: 1rem;
    color: #999;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.note {
    padding: 30px;
    width: 30%;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    gap: 15px;
}