@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

footer {
    margin: auto;
    padding: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
}

main {
    margin: auto;
    padding: 100px 0;
    gap: 30px;
    width: 80%;
}

h1, p {
    color: #333333;
}

.note-title {
    font-size: 1.5rem;
}

.note-description {
    font-size: 1.2rem;
    color: #555;
}

.note-date {
    font-size: 1rem;
    color: #999;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.flex-right {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.note {
    padding: 30px;
    width: 30%;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    gap: 15px;
}

button.cta-button {
    padding: 18px;
    background-color: #6D8EFF;
    color: #FFFFFF;
    border-radius: 10px;
}

button.cta-button img {
    width: 30px;
}

@media (max-width: 2000px) {
    main {
        width: 100%;
        flex-direction: row;
    }
}

@media (max-width: 1000px) {
    main {
        padding: 30px;
        flex-direction: column;
    }

    .note {
        width: 100%;
    }
}