<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../../Webkit/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/main.css">

    <title>Mini Social Network</title>
</head>
<body>

<main>
    <!-- New post form -->
    <form action="" method="POST">
        <label for="post_text"></label>
        <textarea name="post_text" id="post_text" cols="30" rows="10"></textarea>
        <input type="submit" name="submit_button" id="submit_button" value="Post">
    </form>

    <div class="posts-list">
        <div class="single-post">
            <div class="flex">
                <div class="avatar-container">
                    <img src="" alt="">
                </div>
                <div class="name-and-surname">
                    <h2></h2>
                </div>
            </div>
            <div class="post-content">
                <div class="post-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda commodi eaque
                        earum inventore mollitia similique? Accusamus, ad architecto commodi dignissimos eos in incidunt
                        laborum modi molestiae provident saepe sunt.</p>
                </div>
            </div>
            <div class="comments-list">
                <div class="flex">
                    <div class="avatar-container">
                        <img src="" alt="">
                    </div>
                    <div class="name-and-surname">
                        <h2></h2>
                    </div>
                </div>
                <div class="comment-content">
                    <div class="comment-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>